In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("nba_updated_games.csv", index_col=0)
#df_updated = pd.read_csv("nba_updated_fixtures.csv", index_col=0)

In [3]:
df

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,mp,mp.1,fg,fga,fg%,3p,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,0.0,0.0,0.0,0,240.0,240.0,38.0,72.0,0.528,16.0,...,26.2,26.8,155.0,123.0,MIA,107,1,2023,2022-11-07,True
1,1.0,1.0,1.0,1,240.0,240.0,40.0,84.0,0.476,14.0,...,41.0,37.3,160.0,121.0,POR,110,0,2023,2022-11-07,False
2,2.0,2.0,2.0,2,240.0,240.0,41.0,78.0,0.526,8.0,...,28.6,41.1,250.0,125.0,DAL,90,1,2023,2022-12-14,True
3,3.0,3.0,3.0,3,240.0,240.0,29.0,74.0,0.392,13.0,...,12.6,33.0,183.0,110.0,CLE,105,0,2023,2022-12-14,False
4,4.0,4.0,4.0,4,240.0,240.0,39.0,81.0,0.481,6.0,...,22.8,29.0,178.0,111.0,DAL,95,1,2016,2015-12-09,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22055,NaN,NaN,NaN,27,240.0,240.0,49.0,101.0,0.485,14.0,...,18.2,37.4,206.0,129.0,LAL,138,0,2024,2024-02-14,False
22056,NaN,NaN,NaN,28,240.0,240.0,42.0,88.0,0.477,11.0,...,53.2,31.6,144.0,118.0,PHI,104,1,2024,2024-02-14,True
22057,NaN,NaN,NaN,29,240.0,240.0,41.0,86.0,0.477,10.0,...,50.0,32.0,143.0,111.0,MIA,109,0,2024,2024-02-14,False
22058,NaN,NaN,NaN,30,240.0,240.0,38.0,99.0,0.384,10.0,...,47.5,51.2,175.0,103.0,PHO,116,1,2024,2024-02-14,False
22059,NaN,NaN,NaN,31,240.0,240.0,35.0,77.0,0.455,10.0,...,36.8,29.0,250.0,116.0,DET,100,0,2024,2024-02-14,True

In [4]:
df = df.drop(['mp', 'mp.1', 'Unnamed: 0.1', 'Unnamed: 0', 'Unnamed: 0.2', 'Unnamed: 0.3', 'mp_opp', 'mp_opp.1' ], axis=1)

In [5]:
df

,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,orb,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,38.0,72.0,0.528,16.0,37.0,0.432,18.0,21.0,0.857,4.0,...,26.2,26.8,155.0,123.0,MIA,107,1,2023,2022-11-07,True
1,40.0,84.0,0.476,14.0,39.0,0.359,13.0,15.0,0.867,5.0,...,41.0,37.3,160.0,121.0,POR,110,0,2023,2022-11-07,False
2,41.0,78.0,0.526,8.0,24.0,0.333,15.0,19.0,0.789,5.0,...,28.6,41.1,250.0,125.0,DAL,90,1,2023,2022-12-14,True
3,29.0,74.0,0.392,13.0,38.0,0.342,19.0,26.0,0.731,6.0,...,12.6,33.0,183.0,110.0,CLE,105,0,2023,2022-12-14,False
4,39.0,81.0,0.481,6.0,20.0,0.300,14.0,18.0,0.778,6.0,...,22.8,29.0,178.0,111.0,DAL,95,1,2016,2015-12-09,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22055,49.0,101.0,0.485,14.0,45.0,0.311,10.0,13.0,0.769,15.0,...,18.2,37.4,206.0,129.0,LAL,138,0,2024,2024-02-14,False
22056,42.0,88.0,0.477,11.0,35.0,0.314,14.0,15.0,0.933,10.0,...,53.2,31.6,144.0,118.0,PHI,104,1,2024,2024-02-14,True
22057,41.0,86.0,0.477,10.0,35.0,0.286,12.0,16.0,0.750,6.0,...,50.0,32.0,143.0,111.0,MIA,109,0,2024,2024-02-14,False
22058,38.0,99.0,0.384,10.0,37.0,0.270,14.0,22.0,0.636,16.0,...,47.5,51.2,175.0,103.0,PHO,116,1,2024,2024-02-14,False
22059,35.0,77.0,0.455,10.0,31.0,0.323,36.0,44.0,0.818,9.0,...,36.8,29.0,250.0,116.0,DET,100,0,2024,2024-02-14,True

In [6]:
df = df.sort_values("date")

In [7]:
df = df.reset_index(drop=True)

In [8]:
def add_target(team):
    team["target"] = team["won"].shift(-1)
    return team

df = df.groupby("team", group_keys=False).apply(add_target)

In [9]:
df[df["team"] == "WAS"]

,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,orb,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
6,33.0,84.0,0.393,7.0,28.0,0.250,15.0,25.0,0.600,15.0,...,25.2,134.0,98.0,ORL,87,1,2016,2015-10-28,True,True
62,35.0,68.0,0.515,12.0,21.0,0.571,36.0,44.0,0.818,8.0,...,32.4,138.0,122.0,MIL,113,1,2016,2015-10-30,True,False
75,38.0,90.0,0.422,6.0,22.0,0.273,28.0,33.0,0.848,11.0,...,28.7,153.0,108.0,NYK,117,0,2016,2015-10-31,False,True
135,42.0,87.0,0.483,8.0,23.0,0.348,10.0,14.0,0.714,4.0,...,30.0,160.0,109.0,SAS,99,0,2016,2015-11-04,True,False
155,36.0,88.0,0.409,8.0,25.0,0.320,18.0,23.0,0.783,10.0,...,41.6,146.0,103.0,BOS,118,1,2016,2015-11-06,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21938,42.0,94.0,0.447,16.0,40.0,0.400,6.0,9.0,0.667,12.0,...,37.8,161.0,114.0,CLE,114,0,2024,2024-02-07,False,False
21969,45.0,95.0,0.474,20.0,47.0,0.426,19.0,21.0,0.905,5.0,...,33.8,151.0,123.0,BOS,133,1,2024,2024-02-09,False,False
21986,42.0,86.0,0.488,13.0,35.0,0.371,16.0,21.0,0.762,7.0,...,31.8,161.0,117.0,PHI,119,0,2024,2024-02-10,False,False
22003,44.0,106.0,0.415,7.0,32.0,0.219,9.0,15.0,0.600,12.0,...,30.1,147.0,104.0,DAL,112,1,2024,2024-02-12,False,False
22040,44.0,92.0,0.478,21.0,45.0,0.467,17.0,20.0,0.850,15.0,...,32.7,153.0,131.0,NOP,133,1,2024,2024-02-14,False,NaN

In [10]:
df["target"][pd.isnull(df["target"])] = 2

/var/folders/mv/f4c9n99j583b7mz1mbs2815h0000gn/T/ipykernel_29792/1618397414.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["target"][pd.isnull(df["target"])] = 2

In [11]:
df["target"] = df["target"].astype(int, errors="ignore")

In [12]:
df

,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,orb,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,7.0,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False,1
1,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,8.0,...,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False,0
2,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,23.0,...,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True,1
3,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,7.0,...,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True,1
4,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,11.0,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22055,49.0,92.0,0.533,20.0,42.0,0.476,22.0,28.0,0.786,13.0,...,30.8,175.0,146.0,UTA,137,1,2024,2024-02-15,True,2
22056,43.0,93.0,0.462,22.0,49.0,0.449,29.0,32.0,0.906,17.0,...,33.4,189.0,142.0,GSW,140,0,2024,2024-02-15,False,2
22057,31.0,83.0,0.373,8.0,29.0,0.276,21.0,30.0,0.700,9.0,...,33.0,181.0,101.0,MIN,128,0,2024,2024-02-15,False,2
22058,46.0,89.0,0.517,11.0,30.0,0.367,25.0,27.0,0.926,11.0,...,31.5,200.0,137.0,POR,91,1,2024,2024-02-15,True,2
22059,42.0,90.0,0.467,11.0,44.0,0.250,15.0,20.0,0.750,11.0,...,32.0,161.0,118.0,MEM,113,1,2024,2024-02-15,False,2

In [13]:
df["won"].value_counts()

won
False    11030
True     11030
Name: count, dtype: int64

In [14]:
df["target"].value_counts()

target
1    11016
0    11014
2       30
Name: count, dtype: int64

In [15]:
nulls = pd.isnull(df)

In [16]:
nulls = nulls.sum()

In [17]:
nulls = nulls[nulls > 0]

In [18]:
valid_columns = df.columns[~df.columns.isin(nulls.index)]

In [19]:
valid_columns

Index(['fg', 'fga', 'fg%', '3p', '3pa', '3p%', 'ft', 'fta', 'ft%', 'orb',
       ...
       'usg%_max_opp', 'ortg_max_opp', 'drtg_max_opp', 'team_opp', 'total_opp',
       'home_opp', 'season', 'date', 'won', 'target'],
      dtype='object', length=139)

In [20]:
df = df[valid_columns].copy()

In [21]:
df

,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,orb,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,37.0,82.0,0.451,8.0,27.0,0.296,12.0,15.0,0.800,7.0,...,23.6,132.0,104.0,DET,106,0,2016,2015-10-27,False,1
1,35.0,83.0,0.422,6.0,18.0,0.333,19.0,27.0,0.704,8.0,...,43.7,206.0,104.0,GSW,111,1,2016,2015-10-27,False,0
2,37.0,96.0,0.385,12.0,29.0,0.414,20.0,26.0,0.769,23.0,...,33.8,258.0,121.0,ATL,94,1,2016,2015-10-27,True,1
3,37.0,87.0,0.425,7.0,19.0,0.368,16.0,23.0,0.696,7.0,...,29.0,138.0,105.0,CLE,95,0,2016,2015-10-27,True,1
4,38.0,94.0,0.404,9.0,29.0,0.310,10.0,17.0,0.588,11.0,...,34.6,162.0,104.0,CHI,97,1,2016,2015-10-27,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22055,49.0,92.0,0.533,20.0,42.0,0.476,22.0,28.0,0.786,13.0,...,30.8,175.0,146.0,UTA,137,1,2024,2024-02-15,True,2
22056,43.0,93.0,0.462,22.0,49.0,0.449,29.0,32.0,0.906,17.0,...,33.4,189.0,142.0,GSW,140,0,2024,2024-02-15,False,2
22057,31.0,83.0,0.373,8.0,29.0,0.276,21.0,30.0,0.700,9.0,...,33.0,181.0,101.0,MIN,128,0,2024,2024-02-15,False,2
22058,46.0,89.0,0.517,11.0,30.0,0.367,25.0,27.0,0.926,11.0,...,31.5,200.0,137.0,POR,91,1,2024,2024-02-15,True,2
22059,42.0,90.0,0.467,11.0,44.0,0.250,15.0,20.0,0.750,11.0,...,32.0,161.0,118.0,MEM,113,1,2024,2024-02-15,False,2

In [22]:
from sklearn.model_selection import TimeSeriesSplit
from sklearn.feature_selection import SequentialFeatureSelector
from sklearn.linear_model import RidgeClassifier

rr = RidgeClassifier(alpha=1)
split = TimeSeriesSplit(n_splits=3)

sfs = SequentialFeatureSelector(rr, n_features_to_select=30, direction="forward", cv=split)

In [23]:
removed_columns = ["season", "won", "date", "target", "team", "team_opp"]

In [24]:
selected_columns = df.columns[~df.columns.isin(removed_columns)]

In [25]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()
df[selected_columns] = scaler.fit_transform(df[selected_columns])

In [26]:
df

,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,orb,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
0,0.391304,0.323529,0.435407,0.275862,0.348485,0.351544,0.255814,0.222222,0.766628,0.241379,...,0.020513,0.203791,0.317647,DET,0.375000,0.0,2016,2015-10-27,False,1
1,0.347826,0.338235,0.366029,0.206897,0.212121,0.395487,0.418605,0.412698,0.654609,0.275862,...,0.278205,0.554502,0.317647,GSW,0.419643,1.0,2016,2015-10-27,False,0
2,0.391304,0.529412,0.277512,0.413793,0.378788,0.491686,0.441860,0.396825,0.730455,0.793103,...,0.151282,0.800948,0.517647,ATL,0.267857,1.0,2016,2015-10-27,True,1
3,0.391304,0.397059,0.373206,0.241379,0.227273,0.437055,0.348837,0.349206,0.645274,0.241379,...,0.089744,0.232227,0.329412,CLE,0.276786,0.0,2016,2015-10-27,True,1
4,0.413043,0.500000,0.322967,0.310345,0.378788,0.368171,0.209302,0.253968,0.519253,0.379310,...,0.161538,0.345972,0.317647,CHI,0.294643,1.0,2016,2015-10-27,False,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22055,0.652174,0.470588,0.631579,0.689655,0.575758,0.565321,0.488372,0.428571,0.750292,0.448276,...,0.112821,0.407583,0.811765,UTA,0.651786,1.0,2024,2024-02-15,True,2
22056,0.521739,0.485294,0.461722,0.758621,0.681818,0.533254,0.651163,0.492063,0.890315,0.586207,...,0.146154,0.473934,0.764706,GSW,0.678571,0.0,2024,2024-02-15,False,2
22057,0.260870,0.338235,0.248804,0.275862,0.378788,0.327791,0.465116,0.460317,0.649942,0.310345,...,0.141026,0.436019,0.282353,MIN,0.571429,0.0,2024,2024-02-15,False,2
22058,0.586957,0.426471,0.593301,0.379310,0.393939,0.435867,0.558140,0.412698,0.913652,0.379310,...,0.121795,0.526066,0.705882,POR,0.241071,1.0,2024,2024-02-15,True,2
22059,0.500000,0.441176,0.473684,0.379310,0.606061,0.296912,0.325581,0.301587,0.708285,0.379310,...,0.128205,0.341232,0.482353,MEM,0.437500,1.0,2024,2024-02-15,False,2

In [27]:
sfs.fit(df[selected_columns], df["target"])

SequentialFeatureSelector(cv=TimeSeriesSplit(gap=0, max_train_size=None, n_splits=3, test_size=None),
                          estimator=RidgeClassifier(alpha=1),
                          n_features_to_select=30)

In [28]:
predictors = list(selected_columns[sfs.get_support()])

In [29]:
predictors

['ft',
 'fta',
 'ft%',
 'orb',
 'trb',
 'usg%',
 'fta_max',
 'drb_max',
 'tov_max',
 'tov%_max',
 'usg%_max',
 'fg%_opp',
 '3p_opp',
 'ast_opp',
 'blk_opp',
 'pf_opp',
 'ts%_opp',
 'efg%_opp',
 'blk%_opp',
 'usg%_opp',
 '3p_max_opp',
 '3p%_max_opp',
 'ft%_max_opp',
 'stl_max_opp',
 'tov_max_opp',
 'pts_max_opp',
 'ast%_max_opp',
 'stl%_max_opp',
 'tov%_max_opp',
 'usg%_max_opp']

In [30]:
def backtest(data, model, predictors, start=2, step=1):
    all_predictions = []
    
    seasons = sorted(df["season"].unique())
    
    for i in range(start, len(seasons), step):
        season = seasons[i]
        
        train = data[data["season"] < season]
        test = data[data["season"] == season]
        
        model.fit(train[predictors], train["target"])
        
        preds = model.predict(test[predictors])
        preds = pd.Series(preds, index=test.index)
        
        combined = pd.concat([test["target"], preds], axis=1)
        combined.columns = ["actual", "prediction"]
        
        all_predictions.append(combined)
    return pd.concat(all_predictions)

In [31]:
predictions = backtest(df, rr, predictors)

In [32]:
predictions

       actual  prediction
5250        1           0
5251        1           0
5252        1           0
5253        0           0
5254        0           1
...       ...         ...
22055       2           0
22056       2           0
22057       2           0
22058       2           1
22059       2           1

[16810 rows x 2 columns]

In [33]:
df = df[5250:22060]

In [34]:
df

,fg,fga,fg%,3p,3pa,3p%,ft,fta,ft%,orb,...,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won,target
5250,0.413043,0.338235,0.452153,0.172414,0.272727,0.269596,0.465116,0.380952,0.813302,0.310345,...,0.101282,0.189573,0.411765,BOS,0.312500,0.0,2018,2017-10-17,True,1
5251,0.521739,0.294118,0.643541,0.551724,0.393939,0.633017,0.418605,0.317460,0.889148,0.206897,...,0.117949,0.298578,0.576471,HOU,0.517857,0.0,2018,2017-10-17,False,1
5252,0.608696,0.544118,0.516746,0.517241,0.560606,0.434679,0.279070,0.285714,0.631272,0.344828,...,0.135897,0.763033,0.588235,GSW,0.508929,1.0,2018,2017-10-17,True,1
5253,0.369565,0.411765,0.334928,0.275862,0.424242,0.296912,0.418605,0.380952,0.719953,0.310345,...,0.067949,0.232227,0.352941,CLE,0.339286,1.0,2018,2017-10-17,False,0
5254,0.413043,0.382353,0.413876,0.586207,0.621212,0.448931,0.395349,0.317460,0.833139,0.310345,...,0.174359,0.900474,0.552941,ATL,0.473214,0.0,2018,2017-10-18,False,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22055,0.652174,0.470588,0.631579,0.689655,0.575758,0.565321,0.488372,0.428571,0.750292,0.448276,...,0.112821,0.407583,0.811765,UTA,0.651786,1.0,2024,2024-02-15,True,2
22056,0.521739,0.485294,0.461722,0.758621,0.681818,0.533254,0.651163,0.492063,0.890315,0.586207,...,0.146154,0.473934,0.764706,GSW,0.678571,0.0,2024,2024-02-15,False,2
22057,0.260870,0.338235,0.248804,0.275862,0.378788,0.327791,0.465116,0.460317,0.649942,0.310345,...,0.141026,0.436019,0.282353,MIN,0.571429,0.0,2024,2024-02-15,False,2
22058,0.586957,0.426471,0.593301,0.379310,0.393939,0.435867,0.558140,0.412698,0.913652,0.379310,...,0.121795,0.526066,0.705882,POR,0.241071,1.0,2024,2024-02-15,True,2
22059,0.500000,0.441176,0.473684,0.379310,0.606061,0.296912,0.325581,0.301587,0.708285,0.379310,...,0.128205,0.341232,0.482353,MEM,0.437500,1.0,2024,2024-02-15,False,2

In [35]:
predictions_df = pd.concat([predictions, df], ignore_index=False, axis=1)

In [36]:
predictions_df.to_csv('predictions_df.csv')

In [37]:
from sklearn.metrics import accuracy_score


predictions = predictions[predictions["actual"] != 2]
accuracy_score(predictions["actual"], predictions["prediction"])

0.5398092967818832

In [46]:
df.groupby("home").apply(lambda x: x[x["won"] == 1].shape[0] / x.shape[0])

home
0.0    0.432804
1.0    0.567196
dtype: float64

In [47]:
df_rolling = df[list(selected_columns) + ["team", "season"]]

In [48]:
df_rolling

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,stl%_max_opp,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,total_opp,home_opp,team,season
5250,0.0,0.0,0.608696,0.544118,0.516746,0.517241,0.560606,0.434679,0.279070,0.285714,...,0.061,0.091,0.284067,0.135897,0.763033,0.588235,0.508929,1.0,HOU,2018
5251,0.0,0.0,0.521739,0.294118,0.643541,0.551724,0.393939,0.633017,0.418605,0.317460,...,0.028,0.065,0.142558,0.117949,0.298578,0.576471,0.517857,0.0,GSW,2018
5252,0.0,0.0,0.413043,0.338235,0.452153,0.172414,0.272727,0.269596,0.465116,0.380952,...,0.099,0.045,0.315514,0.101282,0.189573,0.411765,0.312500,0.0,CLE,2018
5253,0.0,0.0,0.369565,0.411765,0.334928,0.275862,0.424242,0.296912,0.418605,0.380952,...,0.038,0.060,0.283019,0.067949,0.232227,0.352941,0.339286,1.0,BOS,2018
5254,0.0,0.0,0.521739,0.441176,0.500000,0.275862,0.257576,0.452494,0.488372,0.444444,...,0.046,0.037,0.235849,0.117949,0.246445,0.470588,0.401786,0.0,ORL,2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21987,0.0,0.0,0.521739,0.470588,0.473684,0.551724,0.606061,0.432304,0.069767,0.111111,...,0.085,0.081,0.333333,0.078205,0.379147,0.470588,0.455357,1.0,MEM,2024
21988,0.0,0.0,0.456522,0.352941,0.495215,0.344828,0.424242,0.371734,0.465116,0.349206,...,0.029,0.053,0.337526,0.078205,0.407583,0.505882,0.544643,0.0,NYK,2024
21989,0.0,0.0,0.673913,0.323529,0.815789,0.482759,0.378788,0.573634,0.232558,0.285714,...,0.047,0.063,0.187631,0.226923,0.379147,0.658824,0.419643,1.0,IND,2024
21990,0.0,0.0,0.565217,0.602941,0.423445,0.586207,0.560606,0.492874,0.116279,0.158730,...,0.057,0.098,0.213836,0.151282,0.781991,0.482353,0.428571,0.0,GSW,2024
21991,0.0,0.0,0.369565,0.235294,0.490431,0.344828,0.348485,0.439430,0.232558,0.238095,...,0.038,0.079,1.000000,0.124359,0.379147,0.470588,0.178571,1.0,NOP,2024

In [49]:
def find_team_averages(team):
    rolling = team[selected_columns].rolling(10).mean()
    return rolling

df_rolling = df_rolling.groupby(["team", "season"], group_keys=False).apply(find_team_averages)

In [50]:
df_rolling

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,trb%_max_opp,ast%_max_opp,stl%_max_opp,blk%_max_opp,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,total_opp,home_opp
5250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5251,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5253,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5254,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21987,0.000,0.000,0.410870,0.388235,0.406699,0.510345,0.533333,0.451069,0.283721,0.271429,...,0.176974,0.306881,0.0522,0.1005,0.339832,0.124615,0.382464,0.461176,0.443750,0.5
21988,0.000,0.000,0.521739,0.445588,0.502871,0.413793,0.454545,0.422328,0.353488,0.290476,...,0.157346,0.337271,0.0438,0.0982,0.293920,0.162564,0.478199,0.630588,0.383036,0.2
21989,0.000,0.000,0.632609,0.469118,0.613636,0.413793,0.416667,0.454513,0.286047,0.273016,...,0.140570,0.177294,0.0550,0.1036,0.345388,0.214872,0.426540,0.590588,0.503571,0.4
21990,0.075,0.075,0.632609,0.516176,0.577512,0.534483,0.512121,0.484917,0.320930,0.287302,...,0.141667,0.306078,0.0555,0.0715,0.343187,0.159359,0.459242,0.634118,0.466964,0.5
21991,0.000,0.000,0.558696,0.435294,0.543541,0.417241,0.443939,0.423515,0.311628,0.287302,...,0.185965,0.333372,0.0539,0.0629,0.403145,0.190385,0.477725,0.580000,0.438393,0.7

In [51]:
rolling_cols = [f"{col}_10" for col in df_rolling.columns]
df_rolling.columns = rolling_cols

df = pd.concat([df, df_rolling], axis=1)

In [52]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,trb%_max_opp_10,ast%_max_opp_10,stl%_max_opp_10,blk%_max_opp_10,tov%_max_opp_10,usg%_max_opp_10,ortg_max_opp_10,drtg_max_opp_10,total_opp_10,home_opp_10
5250,0.0,0.0,0.608696,0.544118,0.516746,0.517241,0.560606,0.434679,0.279070,0.285714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5251,0.0,0.0,0.521739,0.294118,0.643541,0.551724,0.393939,0.633017,0.418605,0.317460,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5252,0.0,0.0,0.413043,0.338235,0.452153,0.172414,0.272727,0.269596,0.465116,0.380952,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5253,0.0,0.0,0.369565,0.411765,0.334928,0.275862,0.424242,0.296912,0.418605,0.380952,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5254,0.0,0.0,0.521739,0.441176,0.500000,0.275862,0.257576,0.452494,0.488372,0.444444,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21987,0.0,0.0,0.521739,0.470588,0.473684,0.551724,0.606061,0.432304,0.069767,0.111111,...,0.176974,0.306881,0.0522,0.1005,0.339832,0.124615,0.382464,0.461176,0.443750,0.5
21988,0.0,0.0,0.456522,0.352941,0.495215,0.344828,0.424242,0.371734,0.465116,0.349206,...,0.157346,0.337271,0.0438,0.0982,0.293920,0.162564,0.478199,0.630588,0.383036,0.2
21989,0.0,0.0,0.673913,0.323529,0.815789,0.482759,0.378788,0.573634,0.232558,0.285714,...,0.140570,0.177294,0.0550,0.1036,0.345388,0.214872,0.426540,0.590588,0.503571,0.4
21990,0.0,0.0,0.565217,0.602941,0.423445,0.586207,0.560606,0.492874,0.116279,0.158730,...,0.141667,0.306078,0.0555,0.0715,0.343187,0.159359,0.459242,0.634118,0.466964,0.5
21991,0.0,0.0,0.369565,0.235294,0.490431,0.344828,0.348485,0.439430,0.232558,0.238095,...,0.185965,0.333372,0.0539,0.0629,0.403145,0.190385,0.477725,0.580000,0.438393,0.7

In [105]:
df = df.dropna()

In [106]:
def shift_col(team, col_name):
    next_col = team[col_name].shift(-1)
    return next_col

def add_col(df, col_name):
    return df.groupby("team", group_keys=False).apply(lambda x: shift_col(x, col_name))

df["home_next"] = add_col(df, "home")
df["team_opp_next"] = add_col(df, "team_opp")
df["date_next"] = add_col(df, "date")

/var/folders/mv/f4c9n99j583b7mz1mbs2815h0000gn/T/ipykernel_30390/1688004556.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["home_next"] = add_col(df, "home")
/var/folders/mv/f4c9n99j583b7mz1mbs2815h0000gn/T/ipykernel_30390/1688004556.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["home_next"] = add_col(df, "home")
/var/folders/mv/f4c9n99j583b7mz1mbs2815h0000gn/T/ipykernel_30390/1688004556.py:9: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["team_opp_next"] = add_col(df, "team_opp")
/var/folders/mv/f4c9n99j583b7mz1mbs2815h0000gn/T/ipykernel_30390/1688004556.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["team_opp_next"] = add_col(df, "team_opp")
/var/folders/mv/f4c9n99j583b7mz1mbs2815h0000gn/T/ipykernel_30390/1688004556.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df["date_next"] = add_col(df, "date")
/var/folders/mv/f4c9n99j583b7mz1mbs2815h0000gn/T/ipykernel_30390/1688004556.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["date_next"] = add_col(df, "date")

In [107]:
df

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,blk%_max_opp_10,tov%_max_opp_10,usg%_max_opp_10,ortg_max_opp_10,drtg_max_opp_10,total_opp_10,home_opp_10,home_next,team_opp_next,date_next
224,0.0,0.0,0.500000,0.382353,0.523923,0.344828,0.333333,0.457245,0.255814,0.238095,...,0.0679,0.413522,0.125256,0.361611,0.449412,0.322321,0.4,0.0,BOS,2015-11-13
248,0.0,0.0,0.630435,0.426471,0.645933,0.620690,0.515152,0.562945,0.325581,0.238095,...,0.0772,0.469497,0.220641,0.394787,0.531765,0.300893,0.5,1.0,BRK,2015-11-14
252,0.0,0.0,0.326087,0.250000,0.413876,0.310345,0.257576,0.509501,0.511628,0.412698,...,0.1072,0.380294,0.274359,0.270616,0.478824,0.286607,0.6,0.0,SAC,2015-11-15
256,0.0,0.0,0.217391,0.279412,0.234450,0.310345,0.348485,0.395487,0.372093,0.317460,...,0.0626,0.373480,0.142436,0.320379,0.429412,0.318750,0.5,1.0,NOP,2015-11-15
259,0.0,0.0,0.369565,0.382353,0.358852,0.206897,0.181818,0.445368,0.511628,0.412698,...,0.1145,0.437841,0.139231,0.507109,0.360000,0.326786,0.6,0.0,MIN,2015-11-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21701,0.0,0.0,0.500000,0.514706,0.413876,0.517241,0.575758,0.423990,0.069767,0.063492,...,0.0982,0.442243,0.184872,0.542180,0.510588,0.437500,0.6,NaN,None,None
21702,0.0,0.0,0.521739,0.470588,0.473684,0.413793,0.484848,0.395487,0.581395,0.492063,...,0.0901,0.284591,0.181410,0.422275,0.630588,0.516964,0.5,NaN,None,None
21703,0.0,0.0,0.543478,0.411765,0.552632,0.379310,0.439394,0.395487,0.325581,0.253968,...,0.0769,0.267086,0.146282,0.490047,0.640000,0.453571,0.6,NaN,None,None
21704,0.0,0.0,0.521739,0.426471,0.511962,0.241379,0.287879,0.361045,0.395349,0.428571,...,0.1110,0.323795,0.117436,0.418009,0.590588,0.432143,0.7,NaN,None,None
21705,0.0,0.0,0.521739,0.397059,0.538278,0.172414,0.257576,0.282660,0.395349,0.317460,...,0.1208,0.572537,0.153205,0.400948,0.536471,0.482143,0.6,NaN,None,None

In [108]:
df = df.copy()

In [109]:
full = df.merge(
    df[rolling_cols + ["team_opp_next", "date_next", "team"]], 
    left_on=["team", "date_next"], 
    right_on=["team_opp_next", "date_next"]
)

In [110]:
full

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,stl%_max_opp_10_y,blk%_max_opp_10_y,tov%_max_opp_10_y,usg%_max_opp_10_y,ortg_max_opp_10_y,drtg_max_opp_10_y,total_opp_10_y,home_opp_10_y,team_opp_next_y,team_y
0,0.0,0.0,0.326087,0.250000,0.413876,0.310345,0.257576,0.509501,0.511628,0.412698,...,0.0657,0.1032,0.437212,0.126026,0.404739,0.408235,0.398214,0.2,TOR,SAC
1,0.0,0.0,0.456522,0.500000,0.375598,0.379310,0.348485,0.483373,0.441860,0.396825,...,0.0699,0.1072,0.380294,0.274359,0.270616,0.478824,0.286607,0.6,SAC,TOR
2,0.0,0.0,0.413043,0.397059,0.401914,0.137931,0.212121,0.263658,0.418605,0.365079,...,0.0389,0.0726,0.468868,0.124231,0.332227,0.407059,0.343750,0.5,ORL,MIN
3,0.5,0.5,0.391304,0.455882,0.330144,0.482759,0.515152,0.437055,0.372093,0.412698,...,0.0527,0.0770,0.504403,0.154359,0.344076,0.384706,0.296429,0.7,CLE,DET
4,0.0,0.0,0.304348,0.323529,0.318182,0.275862,0.272727,0.432304,0.186047,0.158730,...,0.0574,0.0839,0.310377,0.128205,0.312796,0.410588,0.328571,0.5,PHI,DAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19143,0.0,0.0,0.500000,0.441176,0.473684,0.310345,0.378788,0.368171,0.372093,0.301587,...,0.0632,0.1177,0.316352,0.111923,0.448815,0.620000,0.460714,0.8,POR,OKC
19144,0.0,0.0,0.543478,0.441176,0.526316,0.482759,0.530303,0.426366,0.255814,0.238095,...,0.0664,0.0859,0.371593,0.160000,0.593839,0.604706,0.325000,0.4,BRK,NYK
19145,0.0,0.0,0.521739,0.558824,0.406699,0.586207,0.651515,0.429929,0.279070,0.269841,...,0.0579,0.0835,0.376415,0.158462,0.469668,0.574118,0.469643,0.3,BOS,DAL
19146,0.0,0.0,0.608696,0.323529,0.727273,0.275862,0.318182,0.380048,0.325581,0.269841,...,0.0483,0.0724,0.268658,0.168974,0.438389,0.536471,0.427679,0.6,PHO,CHI
19147,0.0,0.0,0.500000,0.338235,0.566986,0.448276,0.333333,0.593824,0.627907,0.507937,...,0.0708,0.0947,0.454298,0.169872,0.402844,0.552941,0.486607,0.1,LAC,LAL

In [111]:
full[["team_x", "team_opp_next_x", "team_y", "team_opp_next_y", "date_next", "season", "won"]]

      team_x team_opp_next_x team_y team_opp_next_y   date_next  season    won
0        TOR             SAC    SAC             TOR  2015-11-15    2016   True
1        SAC             TOR    TOR             SAC  2015-11-15    2016   True
2        ORL             MIN    MIN             ORL  2015-11-18    2016  False
3        CLE             DET    DET             CLE  2015-11-17    2016  False
4        PHI             DAL    DAL             PHI  2015-11-16    2016  False
...      ...             ...    ...             ...         ...     ...    ...
19143    POR             OKC    OKC             POR  2024-01-23    2024  False
19144    BRK             NYK    NYK             BRK  2024-01-23    2024  False
19145    BOS             DAL    DAL             BOS  2024-01-22    2024   True
19146    PHO             CHI    CHI             PHO  2024-01-22    2024   True
19147    LAC             LAL    LAL             LAC  2024-01-23    2024   True

[19148 rows x 7 columns]

In [112]:
full

,mp,mp.1,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,stl%_max_opp_10_y,blk%_max_opp_10_y,tov%_max_opp_10_y,usg%_max_opp_10_y,ortg_max_opp_10_y,drtg_max_opp_10_y,total_opp_10_y,home_opp_10_y,team_opp_next_y,team_y
0,0.0,0.0,0.326087,0.250000,0.413876,0.310345,0.257576,0.509501,0.511628,0.412698,...,0.0657,0.1032,0.437212,0.126026,0.404739,0.408235,0.398214,0.2,TOR,SAC
1,0.0,0.0,0.456522,0.500000,0.375598,0.379310,0.348485,0.483373,0.441860,0.396825,...,0.0699,0.1072,0.380294,0.274359,0.270616,0.478824,0.286607,0.6,SAC,TOR
2,0.0,0.0,0.413043,0.397059,0.401914,0.137931,0.212121,0.263658,0.418605,0.365079,...,0.0389,0.0726,0.468868,0.124231,0.332227,0.407059,0.343750,0.5,ORL,MIN
3,0.5,0.5,0.391304,0.455882,0.330144,0.482759,0.515152,0.437055,0.372093,0.412698,...,0.0527,0.0770,0.504403,0.154359,0.344076,0.384706,0.296429,0.7,CLE,DET
4,0.0,0.0,0.304348,0.323529,0.318182,0.275862,0.272727,0.432304,0.186047,0.158730,...,0.0574,0.0839,0.310377,0.128205,0.312796,0.410588,0.328571,0.5,PHI,DAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19143,0.0,0.0,0.500000,0.441176,0.473684,0.310345,0.378788,0.368171,0.372093,0.301587,...,0.0632,0.1177,0.316352,0.111923,0.448815,0.620000,0.460714,0.8,POR,OKC
19144,0.0,0.0,0.543478,0.441176,0.526316,0.482759,0.530303,0.426366,0.255814,0.238095,...,0.0664,0.0859,0.371593,0.160000,0.593839,0.604706,0.325000,0.4,BRK,NYK
19145,0.0,0.0,0.521739,0.558824,0.406699,0.586207,0.651515,0.429929,0.279070,0.269841,...,0.0579,0.0835,0.376415,0.158462,0.469668,0.574118,0.469643,0.3,BOS,DAL
19146,0.0,0.0,0.608696,0.323529,0.727273,0.275862,0.318182,0.380048,0.325581,0.269841,...,0.0483,0.0724,0.268658,0.168974,0.438389,0.536471,0.427679,0.6,PHO,CHI
19147,0.0,0.0,0.500000,0.338235,0.566986,0.448276,0.333333,0.593824,0.627907,0.507937,...,0.0708,0.0947,0.454298,0.169872,0.402844,0.552941,0.486607,0.1,LAC,LAL

In [113]:
removed_columns = list(full.columns[full.dtypes == "object"]) + removed_columns + ["won"]

In [114]:
selected_columns = full.columns[~full.columns.isin(removed_columns)]

In [115]:
predictors = list(selected_columns[sfs.get_support()])

IndexError: boolean index did not match indexed array along dimension 0; dimension is 412 but corresponding boolean dimension is 137

In [116]:
predictors

['fga',
 'fta',
 'ft%',
 'ftr',
 'trb%',
 'usg%',
 'ft_max',
 'drb%_max',
 'tov%_max',
 'usg%_max',
 'fg%_opp',
 '3p%_opp',
 'ft%_opp',
 'orb_opp',
 'pf_opp',
 'ftr_opp',
 'trb%_opp',
 'ast%_opp',
 'blk%_opp',
 'usg%_opp',
 'ft%_max_opp',
 'orb_max_opp',
 'trb_max_opp',
 'stl_max_opp',
 'drb%_max_opp',
 'ast%_max_opp',
 'stl%_max_opp',
 'blk%_max_opp',
 'tov%_max_opp',
 'usg%_max_opp']

In [117]:
predictions = backtest(full, rr, predictors)

In [118]:
accuracy_score(predictions["actual"], predictions["prediction"])

0.5409439568792758

In [119]:
predictions

       actual  prediction
4677        1           0
4678        1           0
4679        1           1
4680        1           0
4681        1           1
...       ...         ...
19143       0           0
19144       0           0
19145       1           1
19146       1           1
19147       1           1

[14471 rows x 2 columns]