In [1]:
import os
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
SCORE_DIR = "data/scores"

In [3]:
box_scores = os.listdir(SCORE_DIR)

In [4]:
box_scores = [os.path.join(SCORE_DIR, f) for f in box_scores if f.endswith(".html")]

In [5]:
def parse_html(box_score):
    with open(box_score) as f:
        html = f.read()
        
    soup = BeautifulSoup(html)
    [s.decompose() for s in soup.select("tr.over_header")]
    [s.decompose() for s in soup.select("tr.thead")]
    return soup

In [6]:
def read_line_score(soup):
    line_score = pd.read_html(str(soup), attrs={"id": "line_score"})[0]
    cols = list(line_score.columns)
    cols[0] = "team"
    cols[-1] = "total"
    line_score.columns = cols
    
    line_score = line_score[["team", "total"]]
    return line_score

In [7]:
def read_stats (soup, team, stat):
    df = pd.read_html(str(soup), attrs={"id": f"box-{team}-game-{stat}"}, index_col=0)[0]
    df = df.apply(pd.to_numeric, errors="coerce")
    return df

In [8]:
def read_season_info(soup):
    nav = soup.select("#bottom_nav_container") [0]
    hrefs = [a["href"] for a in nav.find_all("a")]
    season = os.path.basename(hrefs[1]).split("_")[0] 
    return season

In [9]:
base_cols = None
games = []

for box_score in box_scores:
    soup = parse_html(box_score)
    line_score = read_line_score(soup)
    teams = list(line_score["team"])

    summaries = []
    
    for team in teams:
        basic = read_stats(soup, team, "basic")
        advanced = read_stats(soup, team, "advanced")

        totals = pd.concat([basic.iloc[-1,:], advanced.iloc[-1, :]])
        totals.index = totals.index.str.lower()

        maxes = pd.concat([basic.iloc[:-1,:].max(), advanced.iloc[:-1,:].max()])
        maxes.index = maxes.index.str.lower() + "_max"

        summary = pd.concat([totals, maxes])

        if base_cols is None:
            base_cols = list(summary.index.drop_duplicates(keep="first"))
            base_cols = [b for b in base_cols if "bpm" not in b]

        summary = summary[base_cols]

        summaries.append(summary)

    summary = pd.concat(summaries, axis=1).T

    game = pd.concat([summary, line_score], axis=1)

    game["home"] = [0, 1]
    game_opp = game.iloc[::-1].reset_index()
    game_opp.columns += "_opp"

    full_game = pd.concat([game, game_opp], axis=1)

    full_game["season"] = read_season_info(soup)

    full_game["date"] = os.path.basename(box_score)[:8]
    full_game["date"] = pd.to_datetime(full_game["date"], format ="%Y%m%d")

    full_game["won"] = full_game["total"] > full_game["total_opp"]
    games.append(full_game)
    
    if len(games) % 100 == 0:
        print(f"{len(games)} / {len(box_scores)}")

100 / 10853
200 / 10853
300 / 10853
400 / 10853
500 / 10853
600 / 10853
700 / 10853
800 / 10853
900 / 10853
1000 / 10853
1100 / 10853
1200 / 10853
1300 / 10853
1400 / 10853
1500 / 10853
1600 / 10853
1700 / 10853
1800 / 10853
1900 / 10853
2000 / 10853
2100 / 10853
2200 / 10853
2300 / 10853
2400 / 10853
2500 / 10853
2600 / 10853
2700 / 10853
2800 / 10853
2900 / 10853
3000 / 10853
3100 / 10853
3200 / 10853
3300 / 10853
3400 / 10853
3500 / 10853
3600 / 10853
3700 / 10853
3800 / 10853
3900 / 10853
4000 / 10853
4100 / 10853
4200 / 10853
4300 / 10853
4400 / 10853
4500 / 10853
4600 / 10853
4700 / 10853
4800 / 10853
4900 / 10853
5000 / 10853
5100 / 10853
5200 / 10853
5300 / 10853
5400 / 10853
5500 / 10853
5600 / 10853
5700 / 10853
5800 / 10853
5900 / 10853
6000 / 10853
6100 / 10853
6200 / 10853
6300 / 10853
6400 / 10853
6500 / 10853
6600 / 10853
6700 / 10853
6800 / 10853
6900 / 10853
7000 / 10853
7100 / 10853
7200 / 10853
7300 / 10853
7400 / 10853
7500 / 10853
7600 / 10853
7700 / 10853
7800 / 10853
7900 / 10853
8000 / 10853
8100 / 10853
8200 / 10853
8300 / 10853
8400 / 10853
8500 / 10853
8600 / 10853
8700 / 10853
8800 / 10853
8900 / 10853
9000 / 10853
9100 / 10853
9200 / 10853
9300 / 10853
9400 / 10853
9500 / 10853
9600 / 10853
9700 / 10853
9800 / 10853
9900 / 10853
10000 / 10853
10100 / 10853
10200 / 10853
10300 / 10853
10400 / 10853
10500 / 10853
10600 / 10853
10700 / 10853
10800 / 10853

In [10]:
games_df = pd.concat(games, ignore_index=True)

In [11]:
games_df

,mp,mp,fg,fga,fg%,3p,3pa,3p%,ft,fta,...,tov%_max_opp,usg%_max_opp,ortg_max_opp,drtg_max_opp,team_opp,total_opp,home_opp,season,date,won
0,240.0,240.0,38.0,72.0,0.528,16.0,37.0,0.432,18.0,21.0,...,26.2,26.8,155.0,123.0,MIA,107,1,2023,2022-11-07,True
1,240.0,240.0,40.0,84.0,0.476,14.0,39.0,0.359,13.0,15.0,...,41.0,37.3,160.0,121.0,POR,110,0,2023,2022-11-07,False
2,240.0,240.0,41.0,78.0,0.526,8.0,24.0,0.333,15.0,19.0,...,28.6,41.1,250.0,125.0,DAL,90,1,2023,2022-12-14,True
3,240.0,240.0,29.0,74.0,0.392,13.0,38.0,0.342,19.0,26.0,...,12.6,33.0,183.0,110.0,CLE,105,0,2023,2022-12-14,False
4,240.0,240.0,39.0,81.0,0.481,6.0,20.0,0.300,14.0,18.0,...,22.8,29.0,178.0,111.0,DAL,95,1,2016,2015-12-09,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21701,240.0,240.0,43.0,92.0,0.467,12.0,34.0,0.353,12.0,19.0,...,51.5,33.0,200.0,112.0,MIN,117,0,2024,2023-11-10,False
21702,240.0,240.0,41.0,85.0,0.482,9.0,26.0,0.346,26.0,30.0,...,27.7,27.1,150.0,126.0,MIA,106,1,2020,2020-09-19,True
21703,240.0,240.0,33.0,85.0,0.388,12.0,44.0,0.273,28.0,34.0,...,51.5,36.2,141.0,114.0,BOS,117,0,2020,2020-09-19,False
21704,240.0,240.0,42.0,82.0,0.512,12.0,27.0,0.444,12.0,19.0,...,53.2,28.0,146.0,126.0,TOR,121,1,2024,2023-11-24,False
21705,240.0,240.0,44.0,83.0,0.530,13.0,39.0,0.333,20.0,27.0,...,25.0,34.3,195.0,136.0,CHI,108,0,2024,2023-11-24,True

In [12]:
games_df.to_csv("nba_updated_games.csv")